<mat-sidenav-container class="h-screen">
    <mat-sidenav mode="side" opened>
      <mat-toolbar color="primary">Padel Admin</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="/reservas" routerLinkActive="active">Reservas</a>
        <!-- futuros: /canchas /productos /pos -->
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <span class="text-lg">Administrador de canchas</span>
        <span class="spacer"></span>
        <button mat-icon-button aria-label="notificaciones">
          <mat-icon>notifications</mat-icon>
        </button>
      </mat-toolbar>

      <main class="p-4">
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
