<div class="reservations-page">
  <reservations-header></reservations-header>
  <reservations-filters></reservations-filters>

  <mat-tab-group class="page-tabs">
    <mat-tab label="Calendario">
      <reservations-calendar-tab></reservations-calendar-tab>
    </mat-tab>

    <mat-tab label="Nueva reserva">
      <reservation-create-form></reservation-create-form>
    </mat-tab>

    <mat-tab label="Mis reservas">
      <reservations-my-reservations></reservations-my-reservations>
    </mat-tab>

    <mat-tab *ngIf="facade.isAdmin$ | async" label="Administración">
      <reservations-admin-tab></reservations-admin-tab>
    </mat-tab>
  </mat-tab-group>
</div>
